<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Ajouter un nouveau post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Message</label>
        <textarea id="content" class="form-control" cols="30" rows="10" formControlName="content"></textarea>
      </div>
      <div class="pull-right">
        <button class="btn btn-success"
                [disabled]="postForm.invalid"
                type="submit">Enregister</button>
        <button class="btn btn-default" type="button" routerLink="/posts">Retour</button>
      </div>
    </form>
  </div>
</div>
