<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post-list-item *ngFor="let post of posts, let i= index"
                            [title]="post.title"
                            [content]="post.content"
                            [date]="post.createdAt | date: 'dd/MM/yyyy, hh:mm a'"
                            [loveIts]="post.loveIts"
                            [index]="i">
        </app-post-list-item>
      </ul>
    </div>
  </div>
</div>
